html {
    background: rgb(245, 245, 245);
    overflow: hidden;
}

#header-text p {
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    font-family: Roboto, sans-serif;

}

#header-text span {
    background-color: #13988E;
    padding: 0 14px 0 8px;
    margin: 0px 0 10px 0;
	border-radius: 10px;
}

#header-text {
    line-height: 17.5px;
}

.label {
    font-weight: bold;
    text-anchor: middle;
    cursor: default;

}
.labels {
    font-weight: bold;
    text-anchor: middle;
    cursor: default;

}
.top-panel {
    display: table;/*background-color: rgba(255,255,255,.9);*/
}

.top-panel.col-md-8.col-sm-8 {
	width: 100%;
    margin-top: 10px;
    position: absolute;
    z-index: 500;
}

.panel-right {
    /*background-color: rgba(255,255,255,.9);*/
}

.panel-right.row-md-8 {
    position: absolute;
    top: 300px;
    width: 150px;
    z-index: 500;
    right: 50px;

}

.right-panel {
    /*background-color: rgba(255,255,255,.9);*/
}

.right-panel.col-md-8.col-sm-8 {
    position: absolute;
    right: 0px;
    z-index: 500;
    top: 570px;
}

p.custom-count-header {
    font-family: Roboto, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 21px;
    color: #52595e;
    margin: 0;
}

p.custom-count {
    font-family: Roboto, sans-serif;
    font-size:  1.4rem;
    font-weight: 700;
    color: #13988E;
    margin: 8px -4px -8px -4px;
    padding: 3px;
	border-left: 3px solid #172031;
	border-bottom: 3px solid #172031;
	border-bottom-left-radius: 5px;
}

.head {
	width: 50%;
	display: table-cell;
    padding: 8px 4px !important;
    text-align: center;
    margin: 0 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.col-md-12 {
    padding: 5px;
}

#d3-map-container {
    width: 100%;
    height: 100%;
    background: rgb(245, 245, 245);
    position: relative;
    background-image: url('https://www.kcca.go.ug/images/logo-light.png');
    background-position: center;
    /* background-size: cover; */
}

#d3-map-info-container {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
	opacity: 0;
}

#d3-map-info-container.hide  {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
	z-index: 2000;
	background-color :rgba(23,78, 105,0.4);
	opacity: 1;
}

#d3-map-refresh {

    position: relative;
/*    left: 25% !important;*/
	font-family: Roboto, sans-serif;
	font-weight: 600;
	width: 30%;
    z-index: 9;
    border-radius: 10px;
	background: grey;
	color: white;
     box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.24), 0 4px 8px 0 rgba(0, 0, 0, 0.16); 
    padding: 1px 15px;
    font-size: 1.4rem;
    z-index: 500;
}
#d3-map-refresh:hover {
	    
    background: #13988E;
    cursor: pointer;
/*	opacity:.7;*/
	color: white;
}

#d3-map-make-pdf {
    position: absolute;
    top: 165px;
    left: 270px;
    cursor: pointer;
    z-index: 9;
    border-radius: 4px;
    background: #FFF;
    /* box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.24), 0 4px 8px 0 rgba(0, 0, 0, 0.16); */
    padding: 5px 10px;
    font-size: 1.4rem;
    z-index: 500;
}

#d3-map-info {
    width: 100%;
    padding: 5px 10px;
    color: #777777;
    font-family: Roboto, sans-serif;
    font-size: 1.4rem;
    border-radius: 3px;
    z-index: 500;
}
/* 
#d3-map-wrapper {
	top: 300px !important;
    width: 100%;
} */

.background {
    fill: none;
    pointer-events: all;
}

div.d3-tooltip {
    color: #222;
    text-align: left;
    background: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    opacity: 1.4;
    position: absolute;
    z-index: 601 !important;
    min-width: 140px;
    max-width: 200px;
}

div.d3-tooltip p {
    margin: 0;
}

.d3-hide {
    display: none;
}

.custom-list-header {
    margin: 0;
    padding: 4px 15px;
    background: #F0F0EE;
    font-size: 1.4rem;
    color: #172031;
    font-weight: bold;
    font-style: normal;
    cursor: pointer;
    font-family: Roboto, sans-serif;
	border-left: 3px solid #172031;
	border-bottom: 3px solid #172031;
	border-bottom-left-radius: 5px;
}
.custom-list {
    text-align: left;
    height: 15vh !important;
    margin: 0;
    padding: 6px 15px;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    overflow-y: auto;
    overflow-x: hidden;
/*    background-color: #D4D4D4;*/
	
    font-family: Roboto, sans-serif;
	font-weight: 600;
    color: #52595e;
    border-right: 1px solid #dfe9f1;
    border-left: 1px solid #dfe9f1;
	border-radius: 10px;
}

.custom-list p {
    padding: 3px 5px;
    margin: 0;
    cursor: pointer;
}

.custom-list svg {
    float: right;
	border: 2px solid #172031;
	border-radius: 5px;
}

.collapsed {
/*    display: none;	*/
}

.custom-count {
    margin: 0;
}

.d3-active {
}

.list-container {
    width: 95%;
    overflow-y: auto;
    height: auto !important;
	background: #F0F0EE;
	border-radius: 10px;
}

.menu-panel.col-md-6.col-sm-6 {
    padding: 0;
}

div#district-list .d3-active {
    color: #fff;
}

/*
.list-container>.col-md-12:first-child p.custom-list-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.list-container>.col-md-12:last-child p.custom-list-header {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
*/
svg, g.map {
    z-index: 600 !important;
    position: relative;
}

.cLegend {
    margin-top: 80px;
    margin-right: 0px;
    margin-left: 0px;
}

.mapLegend {
    position: absolute;
    top: 300px;
    width: 150px;
    z-index: 500;
    right: 50px;
    padding: 8px 4px !important;
    text-align: left;
    background-color: rgba(255, 255, 255, .9);
    margin: 0 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#cLegend-title {
    font-size: 12.5px;
    color: #000;
}

span.colorbox {
    width: 20px;
    height: 20px;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
}

span.colorbox.one {
    background-color: #FFE1B8;
}

span.colorbox.two {
    background-color: #F4C181;
}

span.colorbox.three {
    background-color: #EAA14A;
}

span.colorbox.four {
    background-color: #E08114;
}

/*#sector-list p.child {
  padding-left: 20px;
}*/

.disabled {
    pointer-events: none;
    cursor: not-allowed !important;
}

#d3-map-make-pdf.disabled {
    color: #c0c0c0;
}

#legend {
    position: absolute;
    top: 200px;
    left: 270px;
}

.legend-text {
    color: white;
}

/*
$c-highlight: skyblue;

body {
  font-family: Arial, sans;
}

.content {
  width: 600px;
  margin: 100px auto;
}

.month-slider-wrapper {
  .shortcuts {
    font-size: 0.8em;
    float: right;
    list-style: none;
    margin: -12px -25px 0 0;
    padding: 0;
    li {
      float: left;
      padding: 10px;
      border: 1px solid darken($c-highlight, 10);
      border-right: none;
      margin: 0;
      &:nth-child(1) {
        border-radius: 5px 0 0 5px;
      }
      &:nth-child(4) {
        border-right: 1px solid darken($c-highlight, 10);
        border-radius: 0 5px 5px 0;
      }
      &:hover {
        cursor: pointer;
        background-color: lighten($c-highlight, 10);
      }
      &.active {
        background-color: $c-highlight;
      }
    }
  }
  padding: 0 30px;
  border: 1px solid #eee;
  .noUi-connect {
    background-color: $c-highlight;
    border: 2px solid darken($c-highlight, 10);
    box-shadow: none;
  }
  .noUi-tooltip {
    white-space: nowrap;
  }
  .noUi-pips {
    top: 40%;
    .noUi-marker {
      display: none;
    }
    .noUi-value {
      font-size: 0.8em;
    }
  }

  .noUi-handle {
    font-size: 0.8em;
    &:before, &:after {
      display: none;
    }
    &[data-handle="1"] .noUi-tooltip {
      bottom: -225%;
    }
    background-color: $c-highlight;
    box-shadow: none;
    border: 2px solid darken($c-highlight, 10);
    border-radius: 15px;
    width: 30px;
    height: 30px;
  }
}

.slider {
  margin: 70px 20px 70px 20px;
}

.sample-submit-data {
  display: none;
}
*/

/*
 *  STYLE 1
 */

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
/*

body {
    opacity: 0;
}
 
body.all-loaded {
	opacity: 1;
}
*/

.d3-active rect {
	fill: #13988E !important;
}
.custom-list svg {
	cursor: pointer !important;
}

#agency-list span:hover {
	text-decoration: underline !important;
	text-decoration-color: #13988E !important;
}

.count {
	float: right;
}

p.custom-list-header .glyphicon {
    float: right;
    padding: 3px 10px 0 0;
    font-size: 1.4rem;
    color: #13988E;
}

/* The Modal (background) */
.modal {
	font-family: Roboto, sans-serif;
/*	font-weight: 600;*/
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2001; /* Sit on top */
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
	z-index: 1001; 
	border-radius: 2px;
	overflow-x:hidden; 
	overflow-y:hidden !important; 
    top: 10%;
	left: 10%;
    background-color: #fefefe;
    width: 80%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 4px 24px;
    background-color: #13988E;
    color: white;
}

.modal-body {
	padding: 2px 16px;
	height: 10px !important;
	overflow-y: auto;
}
.modal-content {
	padding: 2px 16px;
	height: 80% !important;
	overflow-y: auto;
}

.modal-footer {
/*    padding: 2px 3px;*/
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}


#sidebar-left, #sidebar-right {
    display: none; /* Hidden by default */
}


#removeLayers:hover{
  background-color: #174e69;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

#sidebar-right .sidebar-content {
    direction: rtl;
    overflow:auto;
}

#home1 {
    direction:ltr;
}
